:root {
    --background-color: #E5E5E5;
    --main-font-color: #333;
    --alternate-font-color: #fff;
  }
  
html, body {
  position: relative;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--main-font-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  resize: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
}

.ui-item-middle {
  font-size: 18px;
}

.ui-item-xl {
  font-size: 24px;
}

.ui-text-colour-w {
  color: #dfd8c8;
}

.header__wrapper {
  background-color: #252523;
}

.header__content {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.header__nav {
  margin-left: auto;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 14px;
}

.logout-btn {
  background: inherit;
  cursor: pointer;
}

.logout-btn__icon {
  width: 38px;
}

.header__link {
  padding: 10px 15px;
  cursor: pointer;
}

.link-auth {
  padding: 12px 20px;
  border-radius: 10px;
  background: #a39274;
}

.main__content {
  display: flex;
  align-items: center;
  min-height: 1000px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__wrapper {
  background-color: #413c34;
}

.footer__content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 100px;
}

.footer__content {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.footer__nav {
  margin-right: auto;
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__item:not(:last-child) {
  margin-right: 15px;
}

.footer__link {
  padding: 10px 15px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.wrapper-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  opacity: 0;
  z-index: -100;
  transition: opacity 0.2s ease 0s;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  margin-top: 120px;
  padding: 10px 20px;
  background: #ffffff;
}

.popup-info {
  width: 300px;
  background: rgba(255, 176, 0, .50);
}

.popup-info__header {
  padding-top: 80px;
  color: #fff;
}

.popup__logo {
  margin-top: auto;
  padding-bottom: 30px;
}

.authentication-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  opacity: 0;
  transition: all 0.2s ease 0s;
}

.authentication-form__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authentication-form__item:not(:first-child) {
  margin-top: 30px;
}

.authentication-form__input {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .50);
  background-color: transparent;
  color: inherit;
  outline: none;
}

.notification {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #03a806;
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}

.authentication-form__btn {
  padding: 12px 20px;
  border-radius: 10px;
  background: #03a806;
  cursor: pointer;
}

.authentication-form__btn-text {
  color: #fff;
}

.authentication-form__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authentication-form__block:not(:first-child) {
  margin-top: 10px;
}

.authentication-block {
  margin-top: 10px;
}

.authentication-block__text {
  font-size: 12px;
}

.authentication-block__login-btn {
  color: #03a806;
  background: inherit;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
}

.cl-btn-3 {
  width: 20px;
  height: 20px;
  margin: 10px auto;
  position: relative;
  transform: rotate(45deg) scale(2);
}
 
.cl-btn-3 .top,
.cl-btn-3 .bot {
    display: block;
    background: #848789;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
}
 
.cl-btn-3 .top {
    height: 100%;
    width: 2px;
    margin-left: -1px;
    transform: skewY(45deg);
    top: 0;
}
 
.cl-btn-3 .bot {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    transform: skewX(-45deg);
    left: 0;
}
 
@-webkit-keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}
 
@keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}
@-webkit-keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}
@keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}
@-webkit-keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@-webkit-keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
@keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
.cl-btn-3:hover {
    cursor: pointer;
}
.cl-btn-3:hover .top {
    animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}
.cl-btn-3:hover .bot {
    animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}

.element-active {
  display: flex;
  opacity: 100%;
}
