<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script defer src="/js/scrypt.js"></script>
    <script defer src="/js/jquery.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="container header__content">
                <a class="header__logo ui-text-colour-w" href="/">Здесь логотип</a>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <div class="header-item">
                                <a class="header__link ui-item-middle ui-text-colour-w">Ссылка 1</a>
                            </div>
                        </li>
                        <li class="header__item">
                            <div class="header-item">
                                <a class="header__link ui-item-middle ui-text-colour-w" href="/dashboard">Сканер</a>
                            </div>
                        </li>
                        <li class="header__item">
                            <div class="header-item">
                                <a class="header__link ui-item-middle ui-text-colour-w" href="/subscribe">Подписка</a>
                            </div>
                        </li>
                        <li class="header__item">
                            <div class="header-item">
                                <a class="header__link ui-item-middle ui-text-colour-w">Ссылка 4</a>
                            </div>
                        </li>
                        <li class="header__item">
                            <div class="header-item">
                                <a class="header__link ui-item-middle ui-text-colour-w">Ссылка 5</a>
                            </div>
                        </li>
                        <li class="header__item">
                            <div class="header-item">
                                <button class="logout-btn" id="logout">
                                    <img class="logout-btn__icon" src="./img/logout.svg">
                                </button>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <div class="container main__content">
            
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <div class="container footer__content">
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <div class="footer-item">
                                <a class="footer__link ui-item-middle ui-text-colour-w">Ссылка 1</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer-item">
                                <a class="footer__link ui-item-middle ui-text-colour-w" href="/dashboard">Сканер</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer-item">
                                <a class="footer__link ui-item-middle ui-text-colour-w" href="/subscribe">Подписка</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer-item">
                                <a class="footer__link ui-item-middle ui-text-colour-w">Ссылка 4</a>
                            </div>
                        </li>
                        <li class="footer__item">
                            <div class="footer-item">
                                <a class="footer__link ui-item-middle ui-text-colour-w">Ссылка 5</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <a class="ui-text-colour-w" href="">Ссылка на Telegram</a>
                <div class="info">
                    <span class="info__text ui-text-colour-w">© Project, 2024</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>